<?xml version="1.0" encoding="ISO-8859-1"?>
<MenuSpec>

<words>
  <wordsNumber>7</wordsNumber>
  <wordsX>300</wordsX>
  <wordsY>100</wordsY>
  <wordsSpaceX>70</wordsSpaceX>
  <wordsSpaceY>50</wordsSpaceY>
  <words0>Start Game</words0>
  <words1>Level</words1>
  <words2>Parameters</words2>
  <words3>Music On/Off</words3>
  <words4>Cheat On/Off</words4>
  <words5>Help</words5>
  <words6>Exit</words6>
</words>

<clickoff>
  <clickoffFile>images/menuoff.png</clickoffFile>
  <clickoffWidth>26</clickoffWidth>
  <clickoffHeight>16</clickoffHeight>
  <clickoffSrcX>0</clickoffSrcX>
  <clickoffSrcY>0</clickoffSrcY>
  <clickoffTransparency>false</clickoffTransparency>
</clickoff>

<clickon>
  <clickonFile>images/menuon.png</clickonFile>
  <clickonWidth>40</clickonWidth>
  <clickonHeight>40</clickonHeight>
  <clickonSrcX>0</clickonSrcX>
  <clickonSrcY>0</clickonSrcY>
  <clickonTransparency>false</clickonTransparency>
</clickon>

</MenuSpec>
